<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
	<tr> <td></td>  <td><b>Unix Shell</b></td> </tr>
	<tr> <td>09:00</td>  <td>Workshop overview</td> </tr>
	<tr> <td>09:15</td>  <td><a href="http://swcarpentry.github.io/shell-novice/01-intro/">Introducing the Shell</a></td> </tr>
	<tr> <td>09:20</td>  <td><a href="http://swcarpentry.github.io/shell-novice/02-filedir/">Navigating Files and Directories</a></td> </tr>
	<tr> <td>09:35</td>  <td><a href="http://swcarpentry.github.io/shell-novice/03-create/">Working With Files and Directories</a></td> </tr>
	<tr> <td>09:50</td>  <td><a href="http://swcarpentry.github.io/shell-novice/04-pipefilter/">Pipes and Filters</a></td> </tr>
	<tr> <td>10:05</td>  <td><a href="http://swcarpentry.github.io/shell-novice/05-loop/">Loops</a></td> </tr>
	<tr> <td>10:20</td>  <td><a href="http://swcarpentry.github.io/shell-novice/06-script/">Shell Scripts</a></td> </tr>
	<tr> <td>10:35</td>  <td><a href="http://swcarpentry.github.io/shell-novice/07-find/">Finding Things</a></td> </tr>
	<tr> <td>10:45</td>  <td>coffee/tea break</td> </tr>
	<tr> <td></td>  <td><b>Python</b></td> </tr>
	<tr> <td>11:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/01-numpy/">Analyzing Patient Data</a></td> </tr>
	<tr> <td>11:30</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/02-loop/">Repeating Actions with Loops</a></td> </tr>
	<tr> <td>12:00</td>  <td>lunch</td> </tr>
	<tr> <td>13:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/03-lists/">Storing Multiple Values in Lists</a></td> </tr>
	<tr> <td>13:30</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/04-files/">Analyzing Data from Multiple Files</a></td> </tr>
	<tr> <td>14:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/05-cond/">Making Choices</a></td> </tr>
	<tr> <td>14:45</td>  <td>coffee/tea break</td> </tr>
	<tr> <td>15:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/06-func/">Creating Functions</a></td> </tr>
	<tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
	<tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
	    <tr> <td></td>  <td><b>Python</b></td> </tr>
      <tr> <td>09:00</td>  <td>Errors and Exceptions</td> </tr>
      <tr> <td>10:00</td>  <td>Defensive Programming</td> </tr>
      <tr> <td>10:45</td>  <td>cofee/tea break</td> </tr>
      <tr> <td>11:00</td>  <td>Debugging</td> </tr>
      <tr> <td>11:30</td>  <td>Command-Line Programs</td> </tr>
      <tr> <td>12:00</td>  <td>lunch</td> </tr>
	    <tr> <td></td>  <td><b>Git</b></td> </tr>
      <tr> <td>13:00</td>  <td>Automated Version Control</td> </tr>
      <tr> <td>13:05</td>  <td>Setting Up Git</td> </tr>
      <tr> <td>13:10</td>  <td>Creating a Repository</td> </tr>
      <tr> <td>13:20</td>  <td>Tracking Changes</td> </tr>
      <tr> <td>13:50</td>  <td>Exploring History</td> </tr>
      <tr> <td>14:15</td>  <td>Ignoring Things</td> </tr>
      <tr> <td>14:20</td>  <td>Remotes in GitHub</td> </tr>
      <tr> <td>14:45</td>  <td>coffee/tea break</td> </tr>
      <tr> <td>15:00</td>  <td>Collaborating</td> </tr>
      <tr> <td>15:30</td>  <td>Conflicts</td> </tr>
      <tr> <td>15:45</td>  <td>Open Science</td> </tr>
      <tr> <td>15:55</td>  <td>Licensing</td> </tr>
      <tr> <td>16:00</td>  <td>Citation</td> </tr>
      <tr> <td>16:05</td>  <td>Hosting</td> </tr>
      <tr> <td>16:15</td>  <td>Using Git from RStudio</td> </tr>
      <tr> <td>16:25</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
