<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
	<tr> <td></td>  <td><b>Unix Shell</b></td> </tr>
	<tr> <td>09:00</td>  <td>Workshop overview</td> </tr>
	<tr> <td>09:15</td>  <td><a href="http://swcarpentry.github.io/shell-novice/01-intro/">Introducing the Shell</a></td> </tr>
	<tr> <td>09:20</td>  <td><a href="http://swcarpentry.github.io/shell-novice/02-filedir/">Navigating Files and Directories</a></td> </tr>
	<tr> <td>09:35</td>  <td><a href="http://swcarpentry.github.io/shell-novice/03-create/">Working With Files and Directories</a></td> </tr>
	<tr> <td>09:50</td>  <td><a href="http://swcarpentry.github.io/shell-novice/04-pipefilter/">Pipes and Filters</a></td> </tr>
	<tr> <td>10:05</td>  <td><a href="http://swcarpentry.github.io/shell-novice/05-loop/">Loops</a></td> </tr>
	<tr> <td>10:20</td>  <td><a href="http://swcarpentry.github.io/shell-novice/06-script/">Shell Scripts</a></td> </tr>
	<tr> <td>10:35</td>  <td><a href="http://swcarpentry.github.io/shell-novice/07-find/">Finding Things</a></td> </tr>
	<tr> <td>10:45</td>  <td>coffee/tea break</td> </tr>
	<tr> <td></td>  <td><b>Python</b></td> </tr>
	<tr> <td>11:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/01-numpy/">Analyzing Patient Data</a></td> </tr>
	<tr> <td>11:30</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/02-loop/">Repeating Actions with Loops</a></td> </tr>
	<tr> <td>12:00</td>  <td>lunch</td> </tr>
	<tr> <td>13:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/03-lists/">Storing Multiple Values in Lists</a></td> </tr>
	<tr> <td>13:30</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/04-files/">Analyzing Data from Multiple Files</a></td> </tr>
	<tr> <td>14:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/05-cond/">Making Choices</a></td> </tr>
	<tr> <td>14:45</td>  <td>coffee/tea break</td> </tr>
	<tr> <td>15:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/06-func/">Creating Functions</a></td> </tr>
	<tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
	<tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
	<tr> <td></td>  <td><b>Python</b></td> </tr>
	<tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/07-errors/">Errors and Exceptions</a></td> </tr>
	<tr> <td>10:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/08-defensive/">Defensive Programming</a></td> </tr>
	<tr> <td>10:45</td>  <td>cofee/tea break</td> </tr>
	<tr> <td>11:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/09-debugging/">Debugging</a></td> </tr>
	<tr> <td>11:30</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation/10-cmdline/">Command-Line Programs</a></td> </tr>
	<tr> <td>12:00</td>  <td>lunch</td> </tr>
	<tr> <td></td>  <td><b>Git</b></td> </tr>
	<tr> <td>13:00</td>  <td><a href="http://swcarpentry.github.io/git-novice/01-basics/">Automated Version Control</a></td> </tr>
	<tr> <td>13:05</td>  <td><a href="http://swcarpentry.github.io/git-novice/02-setup/">Setting Up Git</a></td> </tr>
	<tr> <td>13:10</td>  <td><a href="http://swcarpentry.github.io/git-novice/03-create/">Creating a Repository</a></td> </tr>
	<tr> <td>13:20</td>  <td><a href="http://swcarpentry.github.io/git-novice/04-changes/">Tracking Changes</a></td> </tr>
	<tr> <td>13:50</td>  <td><a href="http://swcarpentry.github.io/git-novice/05-history/">Exploring History</a></td> </tr>
	<tr> <td>14:15</td>  <td><a href="http://swcarpentry.github.io/git-novice/06-ignore/">Ignoring Things</a></td> </tr>
	<tr> <td>14:20</td>  <td><a href="http://swcarpentry.github.io/git-novice/07-github/">Remotes in GitHub</a></td> </tr>
	<tr> <td>14:45</td>  <td>coffee/tea break</td> </tr>
	<tr> <td>15:00</td>  <td><a href="http://swcarpentry.github.io/git-novice/08-collab/">Collaborating</a></td> </tr>
	<tr> <td>15:30</td>  <td><a href="http://swcarpentry.github.io/git-novice/09-conflict/">Conflicts</a></td> </tr>
	<tr> <td>15:45</td>  <td><a href="http://swcarpentry.github.io/git-novice/10-open/">Open Science</a></td> </tr>
	<tr> <td>15:55</td>  <td><a href="http://swcarpentry.github.io/git-novice/11-licensing/">Licensing</a></td> </tr>
	<tr> <td>16:00</td>  <td><a href="http://swcarpentry.github.io/git-novice/12-citation/">Citation</a></td> </tr>
	<tr> <td>16:05</td>  <td><a href="http://swcarpentry.github.io/git-novice/13-hosting/">Hosting</a></td> </tr>
	<tr> <td>16:15</td>  <td><a href="http://swcarpentry.github.io/git-novice/14-supplemental-rstudio/">Using Git from RStudio</a></td> </tr>
	<tr> <td>16:25</td>  <td>Wrap-up</td> </tr>
	<tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
